
@keyframes shake {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes glow {
    0% {
        border-color: tomato;
    }

    50%{
        border-color:  lime;
    }
    
    100% {
        border-color:  magenta;
    }
}

@media screen and (max-width:600px) {
    
    .intro h1{
        display: none;  
    }
    
    #education img{
        width: 50%;
    }
    
    .carousel-inner>.carousel-item>img {
        height: 500px;
    }
    
    #myCarousel{
        height: 500px;
    }
    
     #social>.container>a>i{
         animation: none;
       transform: scale(0.3);
/*       margin-right: -20px;*/
    }
      
}

@media screen and (max-width:1200px) {
    
/*
    .navbar-nav>li {
                float: right; 
                font-size: 24px;
    }
*/
    .intro h1{
        font-size: 24px;
    }
    
    .carousel-inner>.carousel-item>img {
        height: 500px;
    }
    
    #myCarousel{
        height: 500px;
    }
    
    #social>.container>a>i{
       transform: scale(0.6);
/*       margin-right: -20px;*/
    }
    
}



.navbar{
        font-family: 'Catamaran', sans-serif; 
        background-image:linear-gradient(to bottom left, #B06AB3,#4568DC);
}

#navname{
          font-family: 'Pacifico', cursive;
          font-weight: bold;
          font-size: 32px;
          color: tomato;
          margin-top: -12px;
}

#navname:hover{
          color:deeppink;
}

.nav.navbar-nav.navbar-right li a{
        color:tomato;
        text-decoration: none;
        padding-left: 15px;
        font-size: 24px;
        font-weight: bold;
}

.nav.navbar-nav.navbar-right li a:hover{
          color:deeppink;
}

.carousel-item>img {
    height: 900px;
}

#myCarousel{
    position: relative;
    top: -160px;
}

.intro{
          font-family: 'Catamaran', sans-serif;   
          font-weight: bold;
          font-size: 36px;
          position: sticky;
          top: 0px;
          opacity: 0.6;
          height: 160px;
          z-index: 1;
/*
          background: -webkit-linear-gradient(tomato, orange);
  		  -webkit-background-clip: text;
  		  -webkit-text-fill-color: transparent;
*/
          
}

.intro>h1{
          width: 100%;
          background: -webkit-linear-gradient(tomato, orange);
          padding-top: 30px;
          padding-bottom: 30px;
/*          transition: 1.2s;*/
}

.intro>h1:hover{
          background: -webkit-linear-gradient(pink, aqua);
/*
  		  -webkit-background-clip: text;
  		  -webkit-text-fill-color: transparent;
          -webkit-transform: scale3d(1.2, 1.2, 1.2);
*/
}

#myCarousel>a>i {
    position: absolute;
    bottom: 60px;
    z-index: 1;
    left: 49.5%;
    transform: scale(2);
    color: tomato;
    transition: 0.8s;
    animation: none;
}

#myCarousel>a>i:hover {
    color: gold;
    transform: scale(3);
}

/*
#myCarousel>a>.carousel-control-prev-icon{
    color: tomato;
}
*/

.carousel-item>img{
    width: 100%;
}


#social{
          margin-top: -80px;
          font-family: 'Catamaran', sans-serif;
          font-size: 40px;
          font-weight: bold;
          background-color:white;
          text-align: center;
          width: 100%;
}


#social>.container>a>i{
    margin-right: 25px;
    color:slateblue;
}

i[class^="fa"]{
    animation: shake linear 2s infinite alternate;
}

i[class^="fa"]:hover { 
    animation: none;
}


.mycircle {
    
    margin: auto;
    width: 360px;
    height: 360px;
    padding-top: 100px;
    border-radius: 50%;
    background-image:url("./images/avatar.jpg");
    background-size:cover;
    border: 10px solid tomato;
    align-content: center;  
    transition:width 1s, height 1s, border 1s; 
}

.mycircle:hover {
    width: 520px;
    height: 520px;
    border: 10px dotted lightblue;
}

#profile{

          font-family: 'Catamaran', sans-serif;
          font-size: 24px;
          background-color:lightgrey;
    
}


i.fa-graduation-cap{
          padding-top: 3%;
          color:purple;
          text-align: center;
/*          width: 100%;*/
}


#education{
/*          border: 20px solid pink;*/
          font-family: 'Catamaran', sans-serif;
          font-size: 24px;
          background-image:linear-gradient(to right, #4568DC, #B06AB3);
          text-align: center;
          width: 100%;
}

.button{
    background-color: white;
    color: black;
    border: 5px solid plum;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.6s;
}

.button:hover {
    background-color: greenyellow;
    animation: shake linear 1s infinite alternate;
    cursor: grab;
}

.edu-container {
        display: inline-block;
        width: 40%;
        text-align: left;
        margin-right: 30px;
        vertical-align: top;
        padding-left: 20px;
        border: 8px dotted;
        animation: glow linear 2s infinite alternate;
}

.edu-container>h1{
    border-bottom: 2px dotted;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    animation: glow linear 2s infinite alternate;
}

i.fa-wrench{
          padding-top: 3%;
          color:black;
          text-align: center;
/*          width: 100%;*/
    
}

#skills{
          font-family: 'Catamaran', sans-serif;
          font-size: 24px;
          background-image:linear-gradient(to right, pink, lightblue);
          text-align: center;
}

#skills>.container>.button {
    margin-bottom: 20px;
}

i.fa-map{
          padding-top: 3%;
          color:cornflowerblue;
/*          width: 100%;*/
}

#experience{
/*          border: 20px solid purple;*/
          font-family: 'Catamaran', sans-serif;
          font-size: 24px;
          background-color:blanchedalmond;
          text-shadow: 2px 2px 6px gray;
          text-align: center;
}

#experience .container{
    text-align: left;
}

#experience>.container>div{
    border-bottom: 6px dotted lightgray; 
}

i.fa-file{
          padding-top: 3%;
          color:darkorange;
          text-align: center;
/*          width: 100%;*/
}

#works{
          
          font-family: 'Catamaran', sans-serif;
          font-size: 24px;
          background-image:linear-gradient(to top right, #ffd194, #70e1f5);
          text-align: center;
}

#works .container{
    text-align: left;
}

.accordion-container div{
    background-color:aliceblue;
}

.accordion-container>div>a{
    color: tomato;
}

.accordion-container>h4{
    background-image:linear-gradient(to bottom left, #ffd194, #70e1f5);
    color: black;
    font-size: 12px;
}

.accordion-container h4:hover{
    background-image:linear-gradient(to left, #ffd194, #70e1f5);
    background: tomato;
}

i.fa-trophy {
    color:lightskyblue;
}

#achieves {
    text-align: center;
    background-image:linear-gradient(to bottom, dimgray, silver);
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
}

#contact{
          font-family: 'Catamaran', sans-serif;
          font-size: 18px;
          background-color:white;

}

#up{
    position: fixed;
    bottom: 20px;
    right: 25px;
    transform: scale(2);
    border: 2px dotted black;
    height: 20px;
    width: 30px;
    text-align: center;
    opacity: 0.56;
    transition: 0.5s;
    padding-bottom: 20px;
}

#up:hover{
    border-radius: 50%;
    border: 2px dotted tomato;
    opacity: 0.9;
}
