@keyframes backgroundScroll {
		from {background-position: 0 0;}
		to {background-position: 0 -300px;}
}

@media screen and (max-width:1210px) {
            .nav.navbar-nav.navbar-right>li {
                text-align: right; 
            }
}

*:focus {
    outline: none;
}

section:hover{
    text-shadow: 0 0 60px rgba(350, 300, 0, 1);

}

nav.navbar-default{
          position: absolute;
          top: 10px;
          width: 100%;
          text-align: center;
          background-color:transparent;
          border-color:transparent;
          font-family: 'Catamaran', sans-serif;   
          font-weight: bold;
          font-size: 26px;
          color: aqua;

}

#navname{
          font-family: 'Pacifico', cursive;
          font-weight: bold;
          font-size: 36px;
          color: tomato;
}

#navname:hover{
          color:deeppink;
}

.nav.navbar-nav.navbar-right li a{
          color:tomato;
}

.nav.navbar-nav.navbar-right li a:hover{
          color:deeppink;
}


div.intro{
          font-family: 'Catamaran', sans-serif;   
          font-weight: bold;
          font-size: 70px;
          background: -webkit-linear-gradient(tomato, orange);
  		  -webkit-background-clip: text;
  		  -webkit-text-fill-color: transparent;
}

.intro:hover{
          background: -webkit-linear-gradient(aqua, purple);
  		  -webkit-background-clip: text;
  		  -webkit-text-fill-color: transparent;
          -webkit-transform: scale3d(1.2, 1.2, 1.2);
}

i.fa-angle-double-down{
          color: aqua;
}

.fa-angle-double-down:hover{
          color: tomato;
}

div.text-center{
		  position: relative;
          font-family: 'Catamaran', sans-serif;   
          font-weight: bold;
          font-size: 60px;
          height: 700px;
          width: auto;
          margin: auto;
          padding-top: 12%;
          background-image:url("bridge.JPG");
          background-size:cover;
		  background-repeat:repeat;
          animation: backgroundScroll 30s linear infinite;
          opacity: 0.7;
          filter: alpha(opacity=70);
  
}


#social{
          padding-top: 6%;
          font-family: 'Catamaran', sans-serif;
          font-size: 40px;
          font-weight: bold;
          background-color:white;
          text-align: center;
          width: 100%;
}


.fa-facebook-official:hover {
    -webkit-transform: scale3d(1.6, 1.6, 1.6);
}

.fa-linkedin-square:hover {
    -webkit-transform: scale3d(1.6, 1.6, 1.6);
}

.fa-github:hover {
    -webkit-transform: scale3d(1.6, 1.6, 1.6);
}

.fa-instagram:hover {
    -webkit-transform: scale3d(1.6, 1.6, 1.6);
}

.fa-skype:hover {
    -webkit-transform: scale3d(1.6, 1.6, 1.6);
}

.fa-weixin:hover {
    -webkit-transform: scale3d(1.6, 1.6, 1.6);
}

.fa-weibo:hover {
    -webkit-transform: scale3d(1.6, 1.6, 1.6);
}


.mycircle {
    
    margin: auto;
    width: 400px;
    height: 400px;
    padding-top: 100px;
    border-radius: 50%;
    background-image:url("ME.jpg");
    background-size:cover;
    border: 20px solid aquamarine;
    align-content: center;  
    -webkit-filter: blur(2.5px);
	filter: blur(2.5px);
}

.mycircle:hover {
   	-webkit-filter: blur(0);
	filter: blur(0);
}

#profile{

          font-family: 'Catamaran', sans-serif;
          font-size: 26px;
          background-color:lightgrey;
}


i.fa-graduation-cap{
          padding-top: 3%;
          color:purple;
          text-align: center;
          width: 100%;
}


#education{
          border: 20px solid pink;
          font-family: 'Catamaran', sans-serif;
          font-size: 26px;
          background-color:white;
          text-align: center;
          width: 100%;

}

i.fa-wrench{
          padding-top: 3%;
          color:black;
          text-align: center;
          width: 100%;
}

#skills{
          font-family: 'Catamaran', sans-serif;
          font-size: 26px;
          background-color:mediumaquamarine;

}

i.fa-map{
          padding-top: 3%;
          color:cornflowerblue;
          text-align: center;
          width: 100%;
}

#experience{
          border: 20px solid purple;
          font-family: 'Catamaran', sans-serif;
          font-size: 26px;
          background-color:white;

}

i.fa-file{
          padding-top: 3%;
          color:darkorange;
          text-align: center;
          width: 100%;
}

#works{
          
          font-family: 'Catamaran', sans-serif;
          font-size: 26px;
          background-color:tomato;
          text-align: left;
}

#contact{
          text-align: center;
          font-family: 'Catamaran', sans-serif;
          font-size: 26px;
          background-color:bisque;
          border-radius: 300px;
          border-style:solid;
          border-width: 20px;
          border-color: aquamarine;
}
